In [2]:
#credit card fraud detection
#Importing libraries 
import numpy as np 
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [3]:
credit_card_data = pd.read_csv('credit card fraud data.csv') #importing and saving data in dataframe

In [5]:
credit_card_data.shape #showing number of columns and rows

(42317, 32)

In [6]:
credit_card_data.tail() #showing 5 rows

,Unnamed: 0,Time,V1,V2,V3,V4,V5,V6,V7,V8,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
42312,279863,169142.0,-1.927883,1.125653,-4.518331,1.749293,-1.566487,-2.010494,-0.882850,0.697211,...,0.778584,-0.319189,0.639419,-0.294885,0.537503,0.788395,0.292680,0.147968,390.00,1
42313,280143,169347.0,1.378559,1.289381,-5.004247,1.411850,0.442581,-1.326536,-1.413170,0.248525,...,0.370612,0.028234,-0.145640,-0.081049,0.521875,0.739467,0.389152,0.186637,0.76,1
42314,280149,169351.0,-0.676143,1.126366,-2.213700,0.468308,-1.120541,-0.003346,-2.234739,1.210158,...,0.751826,0.834108,0.190944,0.032070,-0.739695,0.471111,0.385107,0.194361,77.89,1
42315,281144,169966.0,-3.113832,0.585864,-5.399730,1.817092,-0.840618,-2.943548,-2.208002,1.058733,...,0.583276,-0.269209,-0.456108,-0.183659,-0.328168,0.606116,0.884876,-0.253700,245.00,1
42316,281674,170348.0,1.991976,0.158476,-2.583441,0.408670,1.151147,-0.096695,0.223050,-0.068384,...,-0.164350,-0.295135,-0.072173,-0.450261,0.313267,-0.289617,0.002988,-0.015309,42.53,1

In [7]:
credit_card_data.info() # telling which type data is stored like float,int etc.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42317 entries, 0 to 42316
Data columns (total 32 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  42317 non-null  int64
 1   Time        42317 non-null  float64
 2   V1          42317 non-null  float64
 3   V2          42317 non-null  float64
 4   V3          42317 non-null  float64
 5   V4          42317 non-null  float64
 6   V5          42317 non-null  float64
 7   V6          42317 non-null  float64
 8   V7          42317 non-null  float64
 9   V8          42317 non-null  float64
 10  V9          42317 non-null  float64
 11  V10         42317 non-null  float64
 12  V11         42317 non-null  float64
 13  V12         42317 non-null  float64
 14  V13         42317 non-null  float64
 15  V14         42317 non-null  float64
 16  V15         42317 non-null  float64
 17  V16         42317 non-null  float64
 18  V17         42317 non-null  float64
 19  V18         42317 non-null  float64
 20  V19         42317 non-null  float64
 21  V20         42317 non-null  float64
 22  V21         42317 non-null  float64
 23  V22         42317 non-null  float64
 24  V23         42317 non-null  float64
 25  V24         42317 non-null  float64
 26  V25         42317 non-null  float64
 27  V26         42317 non-null  float64
 28  V27         42317 non-null  float64
 29  V28         42317 non-null  float64
 30  Amount      42317 non-null  float64
 31  Class       42317 non-null  int64
dtypes: float64(30), int64(2)
memory usage: 10.3 MB

In [8]:
credit_card_data.isnull().sum() #checking how much data is missing

Unnamed: 0    0
Time          0
V1            0
V2            0
V3            0
V4            0
V5            0
V6            0
V7            0
V8            0
V9            0
V10           0
V11           0
V12           0
V13           0
V14           0
V15           0
V16           0
V17           0
V18           0
V19           0
V20           0
V21           0
V22           0
V23           0
V24           0
V25           0
V26           0
V27           0
V28           0
Amount        0
Class         0
dtype: int64

In [9]:
credit_card_data['Class'].value_counts() #it gives how many fraud and legit transaction are there

0    41825
1      492
Name: Class, dtype: int64

In [10]:
legit = credit_card_data[credit_card_data.Class == 0] # dividing legit and fraud transaction data in different dataframe
fraud = credit_card_data[credit_card_data.Class == 1]

In [11]:
print(legit.shape) #checking how many columns and rows are there in legit and fraud
print(fraud.shape)

(41825, 32)
(492, 32)

In [12]:
legit.Amount.describe() #describing amount data of legit

count    41825.00000
mean        89.16063
std        239.11913
min          0.00000
25%          5.49000
50%         21.99000
75%         76.07000
max       8790.26000
Name: Amount, dtype: float64

In [13]:
fraud.Amount.describe() ##describing amount data of fraud

count     492.000000
mean      122.211321
std       256.683288
min         0.000000
25%         1.000000
50%         9.250000
75%       105.890000
max      2125.870000
Name: Amount, dtype: float64

In [14]:
credit_card_data.groupby('Class').mean() #mean of legit and fraud in different group

,Unnamed: 0,Time,V1,V2,V3,V4,V5,V6,V7,V8,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,142846.913903,95036.016067,0.002383,-0.010142,0.006524,-0.002275,0.012614,-0.001251,0.016630,-0.003248,...,-0.003313,0.002865,-0.001155,0.000825,0.001576,0.000247,-0.000582,-0.001228,0.000915,89.160630
1,119295.058943,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

In [15]:
legit_sample = legit.sample(n=600) #taking 600 data from legit to make data size of fraud and legit transaction comparable
# In logistic regression if data size of one output is very large than other then problem may happen by under fitting data

In [16]:
legit_sample.shape # seeing number of row and column in new legit sample

(600, 32)

In [17]:
new_dataset = pd.concat([legit_sample, fraud], axis=0) #combining fraud and legit sample

In [18]:
new_dataset.head() #New dataset 5 rows

,Unnamed: 0,Time,V1,V2,V3,V4,V5,V6,V7,V8,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
20817,82021,59206.0,1.314245,-0.035492,-1.090657,-0.556600,2.029339,3.268346,-0.534198,0.808094,...,-0.312944,-1.069251,0.103268,0.992157,0.369178,0.110310,-0.028415,0.011941,2.58,0
41478,62142,50151.0,-2.761275,-2.644437,2.494172,0.683526,3.172106,-1.843632,-1.733431,0.269227,...,0.221018,-0.067445,0.228336,-0.490324,0.315572,-0.535939,-0.154260,-0.053454,1.18,0
5492,260177,159436.0,-0.507943,1.304921,-0.238785,-0.636780,0.113517,-1.090623,0.681507,0.222549,...,-0.256521,-0.611684,0.117431,-0.115443,-0.385303,0.153879,0.232256,0.092122,9.42,0
6937,165733,117620.0,-0.880883,1.474966,-0.553672,-0.543512,-0.320525,-1.271175,0.251892,0.684874,...,-0.214132,-0.660826,0.185672,0.020668,-0.412082,0.149104,0.109177,0.019491,9.12,0
2490,2040,1579.0,-0.984262,0.464804,2.692444,0.036305,-0.757395,-0.023968,0.141568,0.351891,...,0.353016,0.903264,-0.122828,0.530624,0.498351,-0.350527,0.235696,0.056885,83.00,0

In [19]:
new_dataset.shape # seeing number of row and column in new data set

(1092, 32)

In [20]:
new_dataset.tail()

,Unnamed: 0,Time,V1,V2,V3,V4,V5,V6,V7,V8,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
42312,279863,169142.0,-1.927883,1.125653,-4.518331,1.749293,-1.566487,-2.010494,-0.882850,0.697211,...,0.778584,-0.319189,0.639419,-0.294885,0.537503,0.788395,0.292680,0.147968,390.00,1
42313,280143,169347.0,1.378559,1.289381,-5.004247,1.411850,0.442581,-1.326536,-1.413170,0.248525,...,0.370612,0.028234,-0.145640,-0.081049,0.521875,0.739467,0.389152,0.186637,0.76,1
42314,280149,169351.0,-0.676143,1.126366,-2.213700,0.468308,-1.120541,-0.003346,-2.234739,1.210158,...,0.751826,0.834108,0.190944,0.032070,-0.739695,0.471111,0.385107,0.194361,77.89,1
42315,281144,169966.0,-3.113832,0.585864,-5.399730,1.817092,-0.840618,-2.943548,-2.208002,1.058733,...,0.583276,-0.269209,-0.456108,-0.183659,-0.328168,0.606116,0.884876,-0.253700,245.00,1
42316,281674,170348.0,1.991976,0.158476,-2.583441,0.408670,1.151147,-0.096695,0.223050,-0.068384,...,-0.164350,-0.295135,-0.072173,-0.450261,0.313267,-0.289617,0.002988,-0.015309,42.53,1

In [21]:
new_dataset['Class'].value_counts() #It give number of legit and fraud transaction

0    600
1    492
Name: Class, dtype: int64

In [22]:
new_dataset.groupby('Class').mean()

,Unnamed: 0,Time,V1,V2,V3,V4,V5,V6,V7,V8,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,146788.338333,97274.816667,0.015779,0.022920,-0.012045,-0.052122,0.079571,-0.004998,0.000547,0.018791,...,-0.045457,0.011825,-0.050849,-0.023019,0.032598,0.006567,-0.007555,0.000653,-0.011669,76.844250
1,119295.058943,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

In [23]:
X = new_dataset.drop(columns='Class', axis=1) #droping column class so that we have all inputs in x
Y = new_dataset['Class'] #column class is our output hence putting column class in y

In [24]:
print(X)

       Unnamed: 0      Time        V1        V2        V3        V4        V5  \
20817       82021   59206.0  1.314245 -0.035492 -1.090657 -0.556600  2.029339
41478       62142   50151.0 -2.761275 -2.644437  2.494172  0.683526  3.172106
5492       260177  159436.0 -0.507943  1.304921 -0.238785 -0.636780  0.113517
6937       165733  117620.0 -0.880883  1.474966 -0.553672 -0.543512 -0.320525
2490         2040    1579.0 -0.984262  0.464804  2.692444  0.036305 -0.757395
...           ...       ...       ...       ...       ...       ...       ...
42312      279863  169142.0 -1.927883  1.125653 -4.518331  1.749293 -1.566487
42313      280143  169347.0  1.378559  1.289381 -5.004247  1.411850  0.442581
42314      280149  169351.0 -0.676143  1.126366 -2.213700  0.468308 -1.120541
42315      281144  169966.0 -3.113832  0.585864 -5.399730  1.817092 -0.840618
42316      281674  170348.0  1.991976  0.158476 -2.583441  0.408670  1.151147

             V6        V7        V8  ...       V20       V21       V22  \
20817  3.268346 -0.534198  0.808094  ...  0.018174 -0.312944 -1.069251
41478 -1.843632 -1.733431  0.269227  ...  0.749414  0.221018 -0.067445
5492  -1.090623  0.681507  0.222549  ... -0.002454 -0.256521 -0.611684
6937  -1.271175  0.251892  0.684874  ... -0.170798 -0.214132 -0.660826
2490  -0.023968  0.141568  0.351891  ...  0.228041  0.353016  0.903264
...         ...       ...       ...  ...       ...       ...       ...
42312 -2.010494 -0.882850  0.697211  ...  1.252967  0.778584 -0.319189
42313 -1.326536 -1.413170  0.248525  ...  0.226138  0.370612  0.028234
42314 -0.003346 -2.234739  1.210158  ...  0.247968  0.751826  0.834108
42315 -2.943548 -2.208002  1.058733  ...  0.306271  0.583276 -0.269209
42316 -0.096695  0.223050 -0.068384  ... -0.017652 -0.164350 -0.295135

            V23       V24       V25       V26       V27       V28  Amount
20817  0.103268  0.992157  0.369178  0.110310 -0.028415  0.011941    2.58
41478  0.228336 -0.490324  0.315572 -0.535939 -0.154260 -0.053454    1.18
5492   0.117431 -0.115443 -0.385303  0.153879  0.232256  0.092122    9.42
6937   0.185672  0.020668 -0.412082  0.149104  0.109177  0.019491    9.12
2490  -0.122828  0.530624  0.498351 -0.350527  0.235696  0.056885   83.00
...         ...       ...       ...       ...       ...       ...     ...
42312  0.639419 -0.294885  0.537503  0.788395  0.292680  0.147968  390.00
42313 -0.145640 -0.081049  0.521875  0.739467  0.389152  0.186637    0.76
42314  0.190944  0.032070 -0.739695  0.471111  0.385107  0.194361   77.89
42315 -0.456108 -0.183659 -0.328168  0.606116  0.884876 -0.253700  245.00
42316 -0.072173 -0.450261  0.313267 -0.289617  0.002988 -0.015309   42.53

[1092 rows x 31 columns]

In [25]:
print(Y)

20817    0
41478    0
5492     0
6937     0
2490     0
        ..
42312    1
42313    1
42314    1
42315    1
42316    1
Name: Class, Length: 1092, dtype: int64

In [26]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, stratify=Y, random_state=2) #spliting data in training and test data set

In [27]:
print(X.shape, X_train.shape, X_test.shape)

(1092, 31) (873, 31) (219, 31)

In [28]:
model = LogisticRegression() #using  logistic regression and saving in model

In [29]:
model.fit(X_train, Y_train) #training model using train data set

LogisticRegression()

In [30]:
X_train_prediction = model.predict(X_train) #checking accuracy for the training data set
training_data_accuracy = accuracy_score(X_train_prediction, Y_train)

In [31]:
print('Accuracy on Training data : ', training_data_accuracy)

Accuracy on Training data :  0.9450171821305842

In [32]:
X_test_prediction = model.predict(X_test) #checking accuracy for the test data set
test_data_accuracy = accuracy_score(X_test_prediction, Y_test)

In [33]:
print('Accuracy score on Test Data : ', test_data_accuracy)

Accuracy score on Test Data :  0.958904109589041